.login{
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.body{
    background: url("../Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

