body{
    background-image: url(".../img/hazbinwelcome.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#centrador{
  position: center;
  width: 400px;
  height: 400px;
  background-color: #000000;
}

.texto {
    color: #ffffff;
    }
    
#tema {
    position: center;
    text-align: center;
    margin: auto;
    color: #ffffff;
    }

#imagen{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
